.summary {
    width: 50%;
    color: hsl(224, 30%, 27%);
    font-family: 'Hanken Grotesk';
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 320px) and (max-width: 900px) {
        width: 100%;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        width: 80%;
        margin: 40px auto 25px auto;
    }
    &__button {
        position: relative;
        width: 80%;
        height: auto;
        margin: 0 auto 35px;
        padding: 20px 0;
        font-size: 18px;
        font-family: 'Hanken Grotesk';
        font-weight: 500;
        border-radius: 35px;
        border: 0;
        background: hsl(224, 30%, 27%);
        color: white;
        
    }
}
