.popup {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 450px;
    border-radius: 15px;
    border: 1px solid transparent;
    &::backdrop {
        background-color: rgba(59, 75, 177, 0.37);
    }
    @media (max-width: 600px) {
        width: 80%;
    }
    &__content {
        overflow: hidden;
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Hanken Grotesk';
    }
    &__title {
        color: hsl(224, 30%, 27%);
        width: 100%;
        font-size: 35px;
        font-family: 'Hanken Grotesk';
        font-weight: 700;
        margin: 30px 0 30px 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 40px;
        font-size: 20px;
        line-height: 50px;
        min-height: 90px;
        color: hsl(224, 30%, 27%);
        font-family: 'Hanken Grotesk';
        font-weight: 500;
        input {
            height: 30px;
            border-radius: 5px;
            border: 1px solid hsla(224, 30%, 37%, 0.721);
            &:focus-visible {
                outline: 2px solid hsl(252, 100%, 67%);
            }
        }
        span {
            color: red;
            margin: 0;
            line-height: 20px;
        }
    }
    &__button-add {
        position: relative;
        width: 40%;
        height: auto;
        margin: 50px auto 35px;
        padding: 20px 0;
        font-size: 18px;
        border: 0;
        font-family: 'Hanken Grotesk';
        font-weight: 500;
        border-radius: 35px;
        background: hsl(224, 30%, 27%);
        color: white;
        &:not(:disabled):hover::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            border-radius: 32px;
            padding: 31px 0;
            background: hsla(0, 0%, 100%, 0.427);
            top: 0;
            left: 0;
            box-shadow: 0 5px 5px hsl(252, 88%, 71%);

        }
        &:disabled::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            border-radius: 32px;
            padding: 32px 0;
            background: hsla(0, 0%, 100%, 0.427);
            top: 0;
            left: 0;
        }
    }
}
